# Flask
FLASK_ENV=development
FLASK_DEBUG=True

# Database - Replace with your Railway MySQL connection string
# Format: mysql+pymysql://username:password@host:port/database
# DATABASE_URL=mysql+pymysql://user:password@db.railway.internal:3306/railway
DATABASE_URL = mysql://root:AHYcJbhAOfUwrqMlMaWZXTSSQTLynvco@tokaido.proxy.rlwy.net:37747/railway
# JWT
JWT_SECRET_KEY=your-super-secret-jwt-key-change-in-production

# CORS
CORS_ORIGINS=http://localhost:3000,http://localhost:5000
